<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DK Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="icon" type="images/jpeg" href="../public/images/logo.ico">

</head>
<body>
<header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <a href="#" class="logo">DK Store.</a>

    <nav class="navbar">
        <a href="catalog">Catalog</a>
        <a href="register">Register</a>
        <a href="#office">Private Office</a>
    </nav>

</header>

<section class="home" id="home">

    <div class="content">
        <h3>A wide range of clothing</h3>
        <a href="#catalog" class="btn">See now</a>
    </div>

</section>



<section class="about" id="about">

    <h1 class="heading"> <span> about </span> us </h1>

    <div class="row">

        <div class="video-container">
            <img src="../public/images/about.jpg"></img>
            <h3>best clothes</h3>
        </div>

        <div class="content">
            <h3>why choose us?</h3>
            <p>Our shop offers clothes for all occasions. People trust our products. We already have a large customer base that is built on trust in our products.</p>
            <a href="#about" class="btn">learn more</a>
        </div>

    </div>

</section>


<section class="icons-container">

    <div class="icons">
        <img src="../public/images/icon-1.png" alt="">
        <div class="info">
            <h3>free delivery</h3>
            <span>on all orders</span>
        </div>
    </div>

    <div class="icons">
        <img src="../public/images/icon-2.png" alt="">
        <div class="info">
            <h3>10 days returns</h3>
            <span>moneyback guarantee</span>
        </div>
    </div>

    <div class="icons">
        <img src="../public/images/icon-3.png" alt="">
        <div class="info">
            <h3>offer & gifts</h3>
            <span>on all orders</span>
        </div>
    </div>

</section>


<section class="contact" id="contact">

    <h1 class="heading"> <span> contact </span> us </h1>

    <div class="row">

        <form action="">
            <input type="text" placeholder="name" class="box">
            <input type="email" placeholder="email" class="box">
            <input type="number" placeholder="number" class="box">
            <textarea name="" class="box" placeholder="message" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>

        <div class="image">
            <img src="../public/images/contact.jpg" alt="">
        </div>

    </div>

</section>
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a href="#catalog">Catalog</a>
            <a href="#office">Private Office</a>
            <a href="#register">Register</a>
            <a href="#about">About Us</a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="#office">my account</a>
            <a href="#office">my order</a>
            <a href="#office">my favorite</a>
        </div>

    </div>

    <div class="credit"> created by <span> Maratuly Kanat &amp; Otesh Didar</span></div>

</section>


</body>
</html>